* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  height: 100vh;
  display: flex;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 40%;
  background:
    radial-gradient(
      circle at center,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url("fotos/brugge.jpg");
  background-size: cover;
}

.right {
  width: 60%;
}

.black-background-odin {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  margin-top: 17vh;
  width: 100%;
  padding: 20px;
  background: linear-gradient(
    rgba(0, 0, 0, 0.55),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.55)
  );
}

.odin-logo {
  height: 110px;
  width: auto;
}

.odin-title {
  font-family: "Skranji", system-ui;
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  color: #f9fafb;
  letter-spacing: 2px;
}

.credits {
  color: #f9fafb;
  padding-bottom: 20px;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
}

.credits a,
.credits a:hover,
.credits a:visited,
.credits a:active {
  color: #f9fafb;
}

.right {
  display: flex;
  flex-direction: column;
}

.header {
  height: 33%;
  background-color: #f3f4f6;
}

.header-text {
  margin: 6rem 16rem 2rem 5rem;
}

.header p {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 30px;
}

.header-text p:nth-child(2) {
  margin-top: 35px;
}

.form {
  height: 33%;
  background-color: #fff;
  box-shadow:
    0px -5px 15px -16px rgba(66, 68, 90, 1),
    0px 5px 15px -16px rgba(66, 68, 90, 1);
}

.form-container {
  margin: 3rem 10rem 2rem 5rem;
}

.form-title {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}
.form-form {
  margin-top: 2rem;
  font-family: "Manrope", sans-serif;
  font-size: 0.9rem;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 3px;
}

.form-form form {
  display: flex;
  justify-content: flex-start;
  border: none;
  gap: 10rem;
}

.form input {
  height: 2rem;
  width: 20rem;
  border-color: #688749;
  border-radius: 5px;
  box-shadow: 5px 5px 20px 0px rgba(66, 68, 90, 1);
}

.form input:focus {
  outline: 2px solid #688749;
  border-color: #688749;
}

.form input:focus :invalid {
  outline: 2px solid red;
  border-color: red;
}

.form-left,
.form-right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.article {
  display: flex;
  flex-direction: column;
}

.footer {
  height: 33%;
  background-color: #e5e7eb;
}

.footer-text {
  margin: 50px 0 0 80px;
}

.knop {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 15px 80px;
  background-color: #9a0406;
  border-radius: 10px;
  color: #f9fafb;
  box-shadow: 0px 15px 25px -16px rgba(66, 68, 90, 1);
}

.login-text {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.login-text a {
  text-decoration: none;
  color: #9a0406;
}
